html *{
    margin: 0px;
}
body{
    background: #4d4d4d;
    color: honeydew;
    text-shadow: 3px 3px 6px #363636;
}

.box-parent{
    margin-top: 20px;
    display: flex;
    justify-items: center;
    align-content: center;
    background: dodgerblue;
    color: gainsboro;
    justify-content: center;
    align-items: center;
    
}

.box{
    font-size: 30px;
    display: flex;
    justify-items: center;
    align-content: center;
    background: dodgerblue;
    color: gainsboro;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 5px 5px;
    border: solid 1px rebeccapurple;
}