body{
    /* margin: 0; */
    text-align: center;
    background: cornflowerblue;
    font-size: 2rem;
}

.container{
    
    display: grid;
    grid-gap: 10px


    /* grid-template-columns: repeat(3, 1fr); */
}

.container > * {
    padding: 30px;
    background: rgb(105, 105, 105);
    color: whitesmoke;
}